
@model  IEnumerable<reinhardtStudyGroupPrac2.Models.PersonModel>

@{
    ViewBag.Title = "Index";
}

<h2>Study Group:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
            <a href="@Url.Content("~/HTML/" + item.FirstName+ " "+ item.LastName + ".html")" class="btn btn-success">LINK</a>
            </td>
            <td>
            <button class="btn btn-success" onclick="deleteRow(this)">Delete</button>
            </td>
        </tr>
    }
</table>

@section scripts {
<script>
    function deleteRow(button) {
        var row = button.closest("tr");
        row.remove();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const rows = document.getElementsByTagName("tr");

        for (let i = 1; i < rows.length; i++) {
            const namepos = rows[i].cells[1];
            const name = namepos.textContent.trim();

            if (name[0].toUpperCase() === "R") {
                const cells = rows[i].getElementsByTagName("td");
                for (let j = 0; j < cells.length; j++) {
                    cells[j].style.color = "red";
                }
            }
        }
    });
</script>
    }
